<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" thread-count="5" parallel="classes" name="GridTests">
        <classes>
            <class name="grid.day15.GridTest"/>
            <class name="grid.day15.GridTest2"/>
            <class name="grid.day15.GridTest3"/>
        </classes>
    </test>
</suite>